/*
ooooooooo.              .o88o.                             oooo                        .o8  
`888   `Y88.            888 `"                             `888                       "888  
 888   .d88'  .ooooo.  o888oo  oooo d8b  .ooooo.   .oooo.o  888 .oo.    .ooooo.   .oooo888  
 888ooo88P'  d88' `88b  888    `888""8P d88' `88b d88(  "8  888P"Y88b  d88' `88b d88' `888  
 888`88b.    888ooo888  888     888     888ooo888 `"Y88b.   888   888  888ooo888 888   888  
 888  `88b.  888    .o  888     888     888    .o o.  )88b  888   888  888    .o 888   888  
o888o  o888o `Y8bod8P' o888o   d888b    `Y8bod8P' 8""888P' o888o o888o `Y8bod8P' `Y8bod88P"

Refreshed - Colors
By: OogaBoogaBrain 
*/

/* Color overrides */
:root {
	--application-subscription-end: hsl(var(--application-subscription-end-hsl)/1);
    --application-subscription-end-hsl: 196.564 calc(var(--saturation-factor, 1)*98.788%) 32.353%;
    --application-subscription-start: hsl(var(--application-subscription-start-hsl)/1);
    --application-subscription-start-hsl: 234.909 calc(var(--saturation-factor, 1)*68.465%) 52.745%;
    --battlenet: hsl(var(--battlenet-hsl)/1);
    --battlenet-hsl: 199.651 calc(var(--saturation-factor, 1)*100%) 44.902%;
    --bg-animated-gradient-background-indigo-1: hsl(var(--bg-animated-gradient-background-indigo-1-hsl)/1);
    --bg-animated-gradient-background-indigo-1-hsl: 241.5 calc(var(--saturation-factor, 1)*57.143%) 27.451%;
    --bg-animated-gradient-background-indigo-2: hsl(var(--bg-animated-gradient-background-indigo-2-hsl)/1);
    --bg-animated-gradient-background-indigo-2-hsl: 257.059 calc(var(--saturation-factor, 1)*100%) 20%;
    --bg-animated-gradient-background-not-black: hsl(var(--bg-animated-gradient-background-not-black-hsl)/1);
    --bg-animated-gradient-background-not-black-hsl: 240 calc(var(--saturation-factor, 1)*7.143%) 5.49%;
    --bg-animated-gradient-background-pink-1: hsl(var(--bg-animated-gradient-background-pink-1-hsl)/1);
    --bg-animated-gradient-background-pink-1-hsl: 327.831 calc(var(--saturation-factor, 1)*80.583%) 59.608%;
    --bg-gradient-aurora-1: hsl(var(--bg-gradient-aurora-1-hsl)/1);
    --bg-gradient-aurora-1-hsl: 219.74 calc(var(--saturation-factor, 1)*86.517%) 17.451%;
    --bg-gradient-aurora-2: hsl(var(--bg-gradient-aurora-2-hsl)/1);
    --bg-gradient-aurora-2-hsl: 237.778 calc(var(--saturation-factor, 1)*76.415%) 41.569%;
    --bg-gradient-aurora-3: hsl(var(--bg-gradient-aurora-3-hsl)/1);
    --bg-gradient-aurora-3-hsl: 183.556 calc(var(--saturation-factor, 1)*78.035%) 33.922%;
    --bg-gradient-aurora-4: hsl(var(--bg-gradient-aurora-4-hsl)/1);
    --bg-gradient-aurora-4-hsl: 169.2 calc(var(--saturation-factor, 1)*60.241%) 32.549%;
    --bg-gradient-aurora-5: hsl(var(--bg-gradient-aurora-5-hsl)/1);
    --bg-gradient-aurora-5-hsl: 229.839 calc(var(--saturation-factor, 1)*92.537%) 26.275%;
    --bg-gradient-blurple-twilight-1: hsl(var(--bg-gradient-blurple-twilight-1-hsl)/1);
    --bg-gradient-blurple-twilight-1-hsl: 233.904 calc(var(--saturation-factor, 1)*79.574%) 53.922%;
    --bg-gradient-blurple-twilight-2: hsl(var(--bg-gradient-blurple-twilight-2-hsl)/1);
    --bg-gradient-blurple-twilight-2-hsl: 245.294 calc(var(--saturation-factor, 1)*63.75%) 31.373%;
    --bg-gradient-chroma-glow-1: hsl(var(--bg-gradient-chroma-glow-1-hsl)/1);
    --bg-gradient-chroma-glow-1-hsl: 183.39 calc(var(--saturation-factor, 1)*86.341%) 40.196%;
    --bg-gradient-chroma-glow-2: hsl(var(--bg-gradient-chroma-glow-2-hsl)/1);
    --bg-gradient-chroma-glow-2-hsl: 258.113 calc(var(--saturation-factor, 1)*89.831%) 46.275%;
    --bg-gradient-chroma-glow-3: hsl(var(--bg-gradient-chroma-glow-3-hsl)/1);
    --bg-gradient-chroma-glow-3-hsl: 298.491 calc(var(--saturation-factor, 1)*90.857%) 34.314%;
    --bg-gradient-chroma-glow-4: hsl(var(--bg-gradient-chroma-glow-4-hsl)/1);
    --bg-gradient-chroma-glow-4-hsl: 264.767 calc(var(--saturation-factor, 1)*100%) 66.275%;
    --bg-gradient-chroma-glow-5: hsl(var(--bg-gradient-chroma-glow-5-hsl)/1);
    --bg-gradient-chroma-glow-5-hsl: 206.702 calc(var(--saturation-factor, 1)*75.494%) 50.392%;
    --bg-gradient-citrus-sherbert-1: hsl(var(--bg-gradient-citrus-sherbert-1-hsl)/1);
    --bg-gradient-citrus-sherbert-1-hsl: 39.683 calc(var(--saturation-factor, 1)*88.732%) 58.235%;
    --bg-gradient-citrus-sherbert-2: hsl(var(--bg-gradient-citrus-sherbert-2-hsl)/1);
    --bg-gradient-citrus-sherbert-2-hsl: 18 calc(var(--saturation-factor, 1)*81.522%) 63.922%;
    --bg-gradient-cotton-candy-1: hsl(var(--bg-gradient-cotton-candy-1-hsl)/1);
    --bg-gradient-cotton-candy-1-hsl: 349.315 calc(var(--saturation-factor, 1)*76.842%) 81.373%;
    --bg-gradient-cotton-candy-2: hsl(var(--bg-gradient-cotton-candy-2-hsl)/1);
    --bg-gradient-cotton-candy-2-hsl: 226.4 calc(var(--saturation-factor, 1)*92.593%) 84.118%;
    --bg-gradient-crimson-moon-1: hsl(var(--bg-gradient-crimson-moon-1-hsl)/1);
    --bg-gradient-crimson-moon-1-hsl: 0 calc(var(--saturation-factor, 1)*88.608%) 30.98%;
    --bg-gradient-crimson-moon-2: hsl(var(--bg-gradient-crimson-moon-2-hsl)/1);
    --bg-gradient-crimson-moon-2-hsl: 0 calc(var(--saturation-factor, 1)*0%) 0%;
    --bg-gradient-desert-khaki-1: hsl(var(--bg-gradient-desert-khaki-1-hsl)/1);
    --bg-gradient-desert-khaki-1-hsl: 28.696 calc(var(--saturation-factor, 1)*32.394%) 86.078%;
    --bg-gradient-desert-khaki-2: hsl(var(--bg-gradient-desert-khaki-2-hsl)/1);
    --bg-gradient-desert-khaki-2-hsl: 40 calc(var(--saturation-factor, 1)*41.284%) 78.627%;
    --bg-gradient-desert-khaki-3: hsl(var(--bg-gradient-desert-khaki-3-hsl)/1);
    --bg-gradient-desert-khaki-3-hsl: 50.164 calc(var(--saturation-factor, 1)*49.593%) 75.882%;
    --bg-gradient-dusk-1: hsl(var(--bg-gradient-dusk-1-hsl)/1);
    --bg-gradient-dusk-1-hsl: 292.8 calc(var(--saturation-factor, 1)*13.514%) 36.275%;
    --bg-gradient-dusk-2: hsl(var(--bg-gradient-dusk-2-hsl)/1);
    --bg-gradient-dusk-2-hsl: 223.125 calc(var(--saturation-factor, 1)*41.026%) 69.412%;
    --bg-gradient-easter-egg-1: hsl(var(--bg-gradient-easter-egg-1-hsl)/1);
    --bg-gradient-easter-egg-1-hsl: 226.731 calc(var(--saturation-factor, 1)*58.427%) 65.098%;
    --bg-gradient-easter-egg-2: hsl(var(--bg-gradient-easter-egg-2-hsl)/1);
    --bg-gradient-easter-egg-2-hsl: 227.143 calc(var(--saturation-factor, 1)*30.973%) 44.314%;
    --bg-gradient-forest-1: hsl(var(--bg-gradient-forest-1-hsl)/1);
    --bg-gradient-forest-1-hsl: 124.286 calc(var(--saturation-factor, 1)*25.926%) 10.588%;
    --bg-gradient-forest-2: hsl(var(--bg-gradient-forest-2-hsl)/1);
    --bg-gradient-forest-2-hsl: 142.5 calc(var(--saturation-factor, 1)*26.23%) 23.922%;
    --bg-gradient-forest-3: hsl(var(--bg-gradient-forest-3-hsl)/1);
    --bg-gradient-forest-3-hsl: 76.154 calc(var(--saturation-factor, 1)*20.635%) 24.706%;
    --bg-gradient-forest-4: hsl(var(--bg-gradient-forest-4-hsl)/1);
    --bg-gradient-forest-4-hsl: 116.667 calc(var(--saturation-factor, 1)*16.981%) 41.569%;
    --bg-gradient-forest-5: hsl(var(--bg-gradient-forest-5-hsl)/1);
    --bg-gradient-forest-5-hsl: 42.766 calc(var(--saturation-factor, 1)*38.525%) 47.843%;
    --bg-gradient-hanami-1: hsl(var(--bg-gradient-hanami-1-hsl)/1);
    --bg-gradient-hanami-1-hsl: 352.174 calc(var(--saturation-factor, 1)*68.317%) 80.196%;
    --bg-gradient-hanami-2: hsl(var(--bg-gradient-hanami-2-hsl)/1);
    --bg-gradient-hanami-2-hsl: 43.146 calc(var(--saturation-factor, 1)*73.554%) 76.275%;
    --bg-gradient-hanami-3: hsl(var(--bg-gradient-hanami-3-hsl)/1);
    --bg-gradient-hanami-3-hsl: 115.714 calc(var(--saturation-factor, 1)*43.077%) 74.51%;
    --bg-gradient-lofi-vibes-1: hsl(var(--bg-gradient-lofi-vibes-1-hsl)/1);
    --bg-gradient-lofi-vibes-1-hsl: 219.759 calc(var(--saturation-factor, 1)*83.838%) 80.588%;
    --bg-gradient-lofi-vibes-2: hsl(var(--bg-gradient-lofi-vibes-2-hsl)/1);
    --bg-gradient-lofi-vibes-2-hsl: 183.81 calc(var(--saturation-factor, 1)*57.798%) 78.627%;
    --bg-gradient-lofi-vibes-3: hsl(var(--bg-gradient-lofi-vibes-3-hsl)/1);
    --bg-gradient-lofi-vibes-3-hsl: 129.6 calc(var(--saturation-factor, 1)*46.296%) 78.824%;
    --bg-gradient-lofi-vibes-4: hsl(var(--bg-gradient-lofi-vibes-4-hsl)/1);
    --bg-gradient-lofi-vibes-4-hsl: 75.738 calc(var(--saturation-factor, 1)*48.8%) 75.49%;
    --bg-gradient-mars-1: hsl(var(--bg-gradient-mars-1-hsl)/1);
    --bg-gradient-mars-1-hsl: 14.795 calc(var(--saturation-factor, 1)*36.318%) 39.412%;
    --bg-gradient-mars-2: hsl(var(--bg-gradient-mars-2-hsl)/1);
    --bg-gradient-mars-2-hsl: 0 calc(var(--saturation-factor, 1)*36.19%) 41.176%;
    --bg-gradient-midnight-blurple-1: hsl(var(--bg-gradient-midnight-blurple-1-hsl)/1);
    --bg-gradient-midnight-blurple-1-hsl: 245.077 calc(var(--saturation-factor, 1)*55.085%) 53.725%;
    --bg-gradient-midnight-blurple-2: hsl(var(--bg-gradient-midnight-blurple-2-hsl)/1);
    --bg-gradient-midnight-blurple-2-hsl: 259.024 calc(var(--saturation-factor, 1)*74.545%) 10.784%;
    --bg-gradient-mint-apple-1: hsl(var(--bg-gradient-mint-apple-1-hsl)/1);
    --bg-gradient-mint-apple-1-hsl: 165.625 calc(var(--saturation-factor, 1)*39.669%) 52.549%;
    --bg-gradient-mint-apple-2: hsl(var(--bg-gradient-mint-apple-2-hsl)/1);
    --bg-gradient-mint-apple-2-hsl: 118.681 calc(var(--saturation-factor, 1)*40.444%) 55.882%;
    --bg-gradient-mint-apple-3: hsl(var(--bg-gradient-mint-apple-3-hsl)/1);
    --bg-gradient-mint-apple-3-hsl: 86.667 calc(var(--saturation-factor, 1)*48.293%) 59.804%;
    --bg-gradient-neon-nights-1: hsl(var(--bg-gradient-neon-nights-1-hsl)/1);
    --bg-gradient-neon-nights-1-hsl: 176.407 calc(var(--saturation-factor, 1)*98.817%) 33.137%;
    --bg-gradient-neon-nights-2: hsl(var(--bg-gradient-neon-nights-2-hsl)/1);
    --bg-gradient-neon-nights-2-hsl: 259.333 calc(var(--saturation-factor, 1)*39.474%) 55.294%;
    --bg-gradient-neon-nights-3: hsl(var(--bg-gradient-neon-nights-3-hsl)/1);
    --bg-gradient-neon-nights-3-hsl: 313.548 calc(var(--saturation-factor, 1)*52.542%) 46.275%;
    --bg-gradient-retro-raincloud-1: hsl(var(--bg-gradient-retro-raincloud-1-hsl)/1);
    --bg-gradient-retro-raincloud-1-hsl: 201.553 calc(var(--saturation-factor, 1)*47.032%) 42.941%;
    --bg-gradient-retro-raincloud-2: hsl(var(--bg-gradient-retro-raincloud-2-hsl)/1);
    --bg-gradient-retro-raincloud-2-hsl: 241.017 calc(var(--saturation-factor, 1)*29.648%) 60.98%;
    --bg-gradient-retro-storm-1: hsl(var(--bg-gradient-retro-storm-1-hsl)/1);
    --bg-gradient-retro-storm-1-hsl: 201.553 calc(var(--saturation-factor, 1)*47.032%) 42.941%;
    --bg-gradient-retro-storm-2: hsl(var(--bg-gradient-retro-storm-2-hsl)/1);
    --bg-gradient-retro-storm-2-hsl: 240.896 calc(var(--saturation-factor, 1)*27.801%) 47.255%;
    --bg-gradient-sepia-1: hsl(var(--bg-gradient-sepia-1-hsl)/1);
    --bg-gradient-sepia-1-hsl: 32.727 calc(var(--saturation-factor, 1)*14.163%) 45.686%;
    --bg-gradient-sepia-2: hsl(var(--bg-gradient-sepia-2-hsl)/1);
    --bg-gradient-sepia-2-hsl: 36.207 calc(var(--saturation-factor, 1)*46.774%) 24.314%;
    --bg-gradient-strawberry-lemonade-1: hsl(var(--bg-gradient-strawberry-lemonade-1-hsl)/1);
    --bg-gradient-strawberry-lemonade-1-hsl: 326.98 calc(var(--saturation-factor, 1)*74.129%) 39.412%;
    --bg-gradient-strawberry-lemonade-2: hsl(var(--bg-gradient-strawberry-lemonade-2-hsl)/1);
    --bg-gradient-strawberry-lemonade-2-hsl: 27.778 calc(var(--saturation-factor, 1)*71.681%) 44.314%;
    --bg-gradient-strawberry-lemonade-3: hsl(var(--bg-gradient-strawberry-lemonade-3-hsl)/1);
    --bg-gradient-strawberry-lemonade-3-hsl: 39.588 calc(var(--saturation-factor, 1)*80.165%) 52.549%;
    --bg-gradient-sunrise-1: hsl(var(--bg-gradient-sunrise-1-hsl)/1);
    --bg-gradient-sunrise-1-hsl: 326.809 calc(var(--saturation-factor, 1)*41.964%) 43.922%;
    --bg-gradient-sunrise-2: hsl(var(--bg-gradient-sunrise-2-hsl)/1);
    --bg-gradient-sunrise-2-hsl: 27.5 calc(var(--saturation-factor, 1)*44.86%) 58.039%;
    --bg-gradient-sunrise-3: hsl(var(--bg-gradient-sunrise-3-hsl)/1);
    --bg-gradient-sunrise-3-hsl: 50.286 calc(var(--saturation-factor, 1)*46.256%) 44.51%;
    --bg-gradient-sunset-1: hsl(var(--bg-gradient-sunset-1-hsl)/1);
    --bg-gradient-sunset-1-hsl: 259.2 calc(var(--saturation-factor, 1)*55.556%) 35.294%;
    --bg-gradient-sunset-2: hsl(var(--bg-gradient-sunset-2-hsl)/1);
    --bg-gradient-sunset-2-hsl: 21.667 calc(var(--saturation-factor, 1)*66.667%) 57.647%;
    --bg-gradient-under-the-sea-1: hsl(var(--bg-gradient-under-the-sea-1-hsl)/1);
    --bg-gradient-under-the-sea-1-hsl: 114.783 calc(var(--saturation-factor, 1)*10.502%) 42.941%;
    --bg-gradient-under-the-sea-2: hsl(var(--bg-gradient-under-the-sea-2-hsl)/1);
    --bg-gradient-under-the-sea-2-hsl: 158.667 calc(var(--saturation-factor, 1)*20.362%) 43.333%;
    --bg-gradient-under-the-sea-3: hsl(var(--bg-gradient-under-the-sea-3-hsl)/1);
    --bg-gradient-under-the-sea-3-hsl: 175.385 calc(var(--saturation-factor, 1)*10.924%) 46.667%;
    --bg-modal-gradient-green-dark-1: hsl(var(--bg-modal-gradient-green-dark-1-hsl)/1);
    --bg-modal-gradient-green-dark-1-hsl: 145.935 calc(var(--saturation-factor, 1)*70.776%) 42.941%;
    --bg-modal-gradient-green-dark-2: hsl(var(--bg-modal-gradient-green-dark-2-hsl)/1);
    --bg-modal-gradient-green-dark-2-hsl: 152.941 calc(var(--saturation-factor, 1)*100%) 20%;
    --bg-modal-gradient-green-light-1: hsl(var(--bg-modal-gradient-green-light-1-hsl)/1);
    --bg-modal-gradient-green-light-1-hsl: 145.385 calc(var(--saturation-factor, 1)*100%) 94.902%;
    --bg-modal-gradient-green-light-2: hsl(var(--bg-modal-gradient-green-light-2-hsl)/1);
    --bg-modal-gradient-green-light-2-hsl: 143.67 calc(var(--saturation-factor, 1)*87.2%) 75.49%;
    --bg-modal-gradient-lavender-dark-1: hsl(var(--bg-modal-gradient-lavender-dark-1-hsl)/1);
    --bg-modal-gradient-lavender-dark-1-hsl: 268.462 calc(var(--saturation-factor, 1)*85.714%) 64.314%;
    --bg-modal-gradient-lavender-dark-2: hsl(var(--bg-modal-gradient-lavender-dark-2-hsl)/1);
    --bg-modal-gradient-lavender-dark-2-hsl: 260.87 calc(var(--saturation-factor, 1)*72.327%) 31.176%;
    --bg-modal-gradient-lavender-light-1: hsl(var(--bg-modal-gradient-lavender-light-1-hsl)/1);
    --bg-modal-gradient-lavender-light-1-hsl: 268.966 calc(var(--saturation-factor, 1)*90.625%) 87.451%;
    --bg-modal-gradient-lavender-light-2: hsl(var(--bg-modal-gradient-lavender-light-2-hsl)/1);
    --bg-modal-gradient-lavender-light-2-hsl: 269.011 calc(var(--saturation-factor, 1)*88.35%) 79.804%;
    --bg-modal-gradient-magenta-dark-1: hsl(var(--bg-modal-gradient-magenta-dark-1-hsl)/1);
    --bg-modal-gradient-magenta-dark-1-hsl: 309.787 calc(var(--saturation-factor, 1)*64.977%) 42.549%;
    --bg-modal-gradient-magenta-dark-2: hsl(var(--bg-modal-gradient-magenta-dark-2-hsl)/1);
    --bg-modal-gradient-magenta-dark-2-hsl: 300 calc(var(--saturation-factor, 1)*100%) 20%;
    --bg-modal-gradient-magenta-light-1: hsl(var(--bg-modal-gradient-magenta-light-1-hsl)/1);
    --bg-modal-gradient-magenta-light-1-hsl: 290.4 calc(var(--saturation-factor, 1)*100%) 95.098%;
    --bg-modal-gradient-magenta-light-2: hsl(var(--bg-modal-gradient-magenta-light-2-hsl)/1);
    --bg-modal-gradient-magenta-light-2-hsl: 312 calc(var(--saturation-factor, 1)*96.154%) 79.608%;
    --bg-modal-gradient-navy-dark-1: hsl(var(--bg-modal-gradient-navy-dark-1-hsl)/1);
    --bg-modal-gradient-navy-dark-1-hsl: 234.935 calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --bg-modal-gradient-navy-dark-2: hsl(var(--bg-modal-gradient-navy-dark-2-hsl)/1);
    --bg-modal-gradient-navy-dark-2-hsl: 237.931 calc(var(--saturation-factor, 1)*72.5%) 31.373%;
    --bg-modal-gradient-navy-light-1: hsl(var(--bg-modal-gradient-navy-light-1-hsl)/1);
    --bg-modal-gradient-navy-light-1-hsl: 234.737 calc(var(--saturation-factor, 1)*90.476%) 87.647%;
    --bg-modal-gradient-navy-light-2: hsl(var(--bg-modal-gradient-navy-light-2-hsl)/1);
    --bg-modal-gradient-navy-light-2-hsl: 234 calc(var(--saturation-factor, 1)*90%) 80.392%;
    --bg-tile-gradient-magenta-dark-1: hsl(var(--bg-tile-gradient-magenta-dark-1-hsl)/1);
    --bg-tile-gradient-magenta-dark-1-hsl: 309.787 calc(var(--saturation-factor, 1)*64.977%) 42.549%;
    --bg-tile-gradient-magenta-dark-2: hsl(var(--bg-tile-gradient-magenta-dark-2-hsl)/1);
    --bg-tile-gradient-magenta-dark-2-hsl: 300 calc(var(--saturation-factor, 1)*100%) 20%;
    --bungie: hsl(var(--bungie-hsl)/1);
    --bungie-hsl: 196.916 calc(var(--saturation-factor, 1)*100%) 44.51%;
    --crunchyroll: hsl(var(--crunchyroll-hsl)/1);
    --crunchyroll-hsl: 29.289 calc(var(--saturation-factor, 1)*92.952%) 55.49%;
    --ebay: hsl(var(--ebay-hsl)/1);
    --ebay-hsl: 211.429 calc(var(--saturation-factor, 1)*100%) 41.176%;
    --epic-games: hsl(var(--epic-games-hsl)/1);
    --epic-games-hsl: 34.286 calc(var(--saturation-factor, 1)*6.195%) 22.157%;
    --facebook: hsl(var(--facebook-hsl)/1);
    --facebook-hsl: 220.714 calc(var(--saturation-factor, 1)*44.211%) 37.255%;
    --github: hsl(var(--github-hsl)/1);
    --github-hsl: 0 calc(var(--saturation-factor, 1)*4.167%) 9.412%;
    --gold: hsl(var(--gold-hsl)/1);
    --gold-hsl: 45.652 calc(var(--saturation-factor, 1)*100%) 54.902%;
    --guild-boosting-blue: hsl(var(--guild-boosting-blue-hsl)/1);
    --guild-boosting-blue-hsl: 221.132 calc(var(--saturation-factor, 1)*70.044%) 55.49%;
    --guild-boosting-blue-for-gradients: hsl(var(--guild-boosting-blue-for-gradients-hsl)/1);
    --guild-boosting-blue-for-gradients-hsl: 234.909 calc(var(--saturation-factor, 1)*68.465%) 52.745%;
    --guild-boosting-pink: hsl(var(--guild-boosting-pink-hsl)/1);
    --guild-boosting-pink-hsl: 302.143 calc(var(--saturation-factor, 1)*100%) 72.549%;
    --guild-boosting-purple: hsl(var(--guild-boosting-purple-hsl)/1);
    --guild-boosting-purple-hsl: 269.032 calc(var(--saturation-factor, 1)*83.784%) 70.98%;
    --guild-boosting-purple-for-gradients: hsl(var(--guild-boosting-purple-for-gradients-hsl)/1);
    --guild-boosting-purple-for-gradients-hsl: 269.162 calc(var(--saturation-factor, 1)*91.795%) 61.765%;
    --hypesquad-house-1: hsl(var(--hypesquad-house-1-hsl)/1);
    --hypesquad-house-1-hsl: 253.458 calc(var(--saturation-factor, 1)*76.978%) 72.745%;
    --hypesquad-house-2: hsl(var(--hypesquad-house-2-hsl)/1);
    --hypesquad-house-2-hsl: 8.511 calc(var(--saturation-factor, 1)*86.503%) 68.039%;
    --hypesquad-house-3: hsl(var(--hypesquad-house-3-hsl)/1);
    --hypesquad-house-3-hsl: 168.553 calc(var(--saturation-factor, 1)*69.091%) 56.863%;
    --input-placeholder-text-dark: hsl(var(--input-placeholder-text-dark-hsl)/1);
    --input-placeholder-text-dark-hsl: 216 calc(var(--saturation-factor, 1)*2.128%) 53.922%;
    --lol: hsl(var(--lol-hsl)/1);
    --lol-hsl: 190.286 calc(var(--saturation-factor, 1)*89.744%) 7.647%;
    --lol-text-dark: hsl(var(--lol-text-dark-hsl)/1);
    --lol-text-dark-hsl: 37.444 calc(var(--saturation-factor, 1)*81.595%) 31.961%;
    --lol-text-light: hsl(var(--lol-text-light-hsl)/1);
    --lol-text-light-hsl: 41.143 calc(var(--saturation-factor, 1)*50.239%) 59.02%;
    --partner: hsl(var(--partner-hsl)/1);
    --partner-hsl: 215.376 calc(var(--saturation-factor, 1)*82.775%) 59.02%;
    --paypal: hsl(var(--paypal-hsl)/1);
    --paypal-hsl: 230.455 calc(var(--saturation-factor, 1)*69.841%) 24.706%;
    --playstation: hsl(var(--playstation-hsl)/1);
    --playstation-hsl: 220 calc(var(--saturation-factor, 1)*95.652%) 27.059%;
    --plum-23-alpha: hsl(var(--plum-23-alpha-hsl)/0.1);
    --plum-23-alpha-hsl: 240 calc(var(--saturation-factor, 1)*63.415%) 83.922%;
    --premium-nitro-pink-dark: hsl(var(--premium-nitro-pink-dark-hsl)/1);
    --premium-nitro-pink-dark-hsl: 299.45 calc(var(--saturation-factor, 1)*43.083%) 50.392%;
    --premium-nitro-pink-light: hsl(var(--premium-nitro-pink-light-hsl)/1);
    --premium-nitro-pink-light-hsl: 299.333 calc(var(--saturation-factor, 1)*42.857%) 58.824%;
    --premium-perk-blue: hsl(var(--premium-perk-blue-hsl)/1);
    --premium-perk-blue-hsl: 222.047 calc(var(--saturation-factor, 1)*100%) 75.098%;
    --premium-perk-blue-alt: hsl(var(--premium-perk-blue-alt-hsl)/1);
    --premium-perk-blue-alt-hsl: 223.03 calc(var(--saturation-factor, 1)*100%) 80.588%;
    --premium-perk-dark-blue: hsl(var(--premium-perk-dark-blue-hsl)/1);
    --premium-perk-dark-blue-hsl: 220.392 calc(var(--saturation-factor, 1)*67.401%) 55.49%;
    --premium-perk-gold: hsl(var(--premium-perk-gold-hsl)/1);
    --premium-perk-gold-hsl: 37.5 calc(var(--saturation-factor, 1)*95.726%) 54.118%;
    --premium-perk-green: hsl(var(--premium-perk-green-hsl)/1);
    --premium-perk-green-hsl: 163.953 calc(var(--saturation-factor, 1)*55.128%) 69.412%;
    --premium-perk-light-blue: hsl(var(--premium-perk-light-blue-hsl)/1);
    --premium-perk-light-blue-hsl: 221.481 calc(var(--saturation-factor, 1)*100%) 84.118%;
    --premium-perk-orange: hsl(var(--premium-perk-orange-hsl)/1);
    --premium-perk-orange-hsl: 25.424 calc(var(--saturation-factor, 1)*96.721%) 64.118%;
    --premium-perk-pink: hsl(var(--premium-perk-pink-hsl)/1);
    --premium-perk-pink-hsl: 305.197 calc(var(--saturation-factor, 1)*100%) 75.098%;
    --premium-perk-purple: hsl(var(--premium-perk-purple-hsl)/1);
    --premium-perk-purple-hsl: 272.079 calc(var(--saturation-factor, 1)*100%) 80.196%;
    --premium-perk-yellow: hsl(var(--premium-perk-yellow-hsl)/1);
    --premium-perk-yellow-hsl: 46.813 calc(var(--saturation-factor, 1)*98.913%) 63.922%;
    --premium-tier-0-blue: hsl(var(--premium-tier-0-blue-hsl)/1);
    --premium-tier-0-blue-hsl: 201.649 calc(var(--saturation-factor, 1)*100%) 38.039%;
    --premium-tier-0-blue-for-gradients: hsl(var(--premium-tier-0-blue-for-gradients-hsl)/1);
    --premium-tier-0-blue-for-gradients-hsl: 201.649 calc(var(--saturation-factor, 1)*100%) 38.039%;
    --premium-tier-0-blue-for-gradients-2: hsl(var(--premium-tier-0-blue-for-gradients-2-hsl)/1);
    --premium-tier-0-blue-for-gradients-2-hsl: 209.022 calc(var(--saturation-factor, 1)*80%) 45.098%;
    --premium-tier-0-header-gradient-1: hsl(var(--premium-tier-0-header-gradient-1-hsl)/1);
    --premium-tier-0-header-gradient-1-hsl: 240.451 calc(var(--saturation-factor, 1)*55.187%) 47.255%;
    --premium-tier-0-header-gradient-2: hsl(var(--premium-tier-0-header-gradient-2-hsl)/1);
    --premium-tier-0-header-gradient-2-hsl: 224.444 calc(var(--saturation-factor, 1)*77.885%) 59.216%;
    --premium-tier-0-header-gradient-3: hsl(var(--premium-tier-0-header-gradient-3-hsl)/1);
    --premium-tier-0-header-gradient-3-hsl: 246.207 calc(var(--saturation-factor, 1)*74.359%) 69.412%;
    --premium-tier-0-header-gradient-4: hsl(var(--premium-tier-0-header-gradient-4-hsl)/1);
    --premium-tier-0-header-gradient-4-hsl: 294.595 calc(var(--saturation-factor, 1)*79.856%) 72.745%;
    --premium-tier-0-header-gradient-5: hsl(var(--premium-tier-0-header-gradient-5-hsl)/1);
    --premium-tier-0-header-gradient-5-hsl: 336.456 calc(var(--saturation-factor, 1)*55.245%) 71.961%;
    --premium-tier-0-purple: hsl(var(--premium-tier-0-purple-hsl)/1);
    --premium-tier-0-purple-hsl: 234.935 calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --premium-tier-0-purple-for-gradients: hsl(var(--premium-tier-0-purple-for-gradients-hsl)/1);
    --premium-tier-0-purple-for-gradients-hsl: 234.935 calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --premium-tier-1-blue: hsl(var(--premium-tier-1-blue-hsl)/1);
    --premium-tier-1-blue-hsl: 227.538 calc(var(--saturation-factor, 1)*86.667%) 70.588%;
    --premium-tier-1-blue-for-gradients: hsl(var(--premium-tier-1-blue-for-gradients-hsl)/1);
    --premium-tier-1-blue-for-gradients-hsl: 234.935 calc(var(--saturation-factor, 1)*85.556%) 64.706%;
    --premium-tier-1-dark-blue-for-gradients: hsl(var(--premium-tier-1-dark-blue-for-gradients-hsl)/1);
    --premium-tier-1-dark-blue-for-gradients-hsl: 234.909 calc(var(--saturation-factor, 1)*68.465%) 52.745%;
    --premium-tier-1-purple: hsl(var(--premium-tier-1-purple-hsl)/1);
    --premium-tier-1-purple-hsl: 243.704 calc(var(--saturation-factor, 1)*100%) 84.118%;
    --premium-tier-2-pink: hsl(var(--premium-tier-2-pink-hsl)/1);
    --premium-tier-2-pink-hsl: 342 calc(var(--saturation-factor, 1)*57.971%) 72.941%;
    --premium-tier-2-pink-for-gradients: hsl(var(--premium-tier-2-pink-for-gradients-hsl)/1);
    --premium-tier-2-pink-for-gradients-hsl: 325.385 calc(var(--saturation-factor, 1)*31.707%) 51.765%;
    --premium-tier-2-pink-for-gradients-2: hsl(var(--premium-tier-2-pink-for-gradients-2-hsl)/1);
    --premium-tier-2-pink-for-gradients-2-hsl: 295.42 calc(var(--saturation-factor, 1)*51.373%) 50%;
    --premium-tier-2-purple: hsl(var(--premium-tier-2-purple-hsl)/1);
    --premium-tier-2-purple-hsl: 270 calc(var(--saturation-factor, 1)*86.667%) 70.588%;
    --premium-tier-2-purple-for-gradients: hsl(var(--premium-tier-2-purple-for-gradients-hsl)/1);
    --premium-tier-2-purple-for-gradients-hsl: 269.291 calc(var(--saturation-factor, 1)*52.697%) 52.745%;
    --premium-tier-2-purple-for-gradients-2: hsl(var(--premium-tier-2-purple-for-gradients-2-hsl)/1);
    --premium-tier-2-purple-for-gradients-2-hsl: 295.645 calc(var(--saturation-factor, 1)*50%) 51.373%;
    --reddit: hsl(var(--reddit-hsl)/1);
    --reddit-hsl: 16.235 calc(var(--saturation-factor, 1)*100%) 50%;
    --riot-games: hsl(var(--riot-games-hsl)/1);
    --riot-games-hsl: 349.487 calc(var(--saturation-factor, 1)*100%) 45.882%;
    --role-blue: hsl(var(--role-blue-hsl)/1);
    --role-blue-hsl: 203.793 calc(var(--saturation-factor, 1)*64.444%) 35.294%;
    --role-brown: hsl(var(--role-brown-hsl)/1);
    --role-brown-hsl: 23.929 calc(var(--saturation-factor, 1)*100%) 32.941%;
    --role-burgundy: hsl(var(--role-burgundy-hsl)/1);
    --role-burgundy-hsl: 333.725 calc(var(--saturation-factor, 1)*79.275%) 37.843%;
    --role-dark-blue: hsl(var(--role-dark-blue-hsl)/1);
    --role-dark-blue-hsl: 198.947 calc(var(--saturation-factor, 1)*18.447%) 40.392%;
    --role-dark-grey: hsl(var(--role-dark-grey-hsl)/1);
    --role-dark-grey-hsl: 199.535 calc(var(--saturation-factor, 1)*18.298%) 46.078%;
    --role-dark-purple: hsl(var(--role-dark-purple-hsl)/1);
    --role-dark-purple-hsl: 282.143 calc(var(--saturation-factor, 1)*43.75%) 37.647%;
    --role-dark-teal: hsl(var(--role-dark-teal-hsl)/1);
    --role-dark-teal-hsl: 168.108 calc(var(--saturation-factor, 1)*76.552%) 28.431%;
    --role-default: hsl(var(--role-default-hsl)/1);
    --role-default-hsl: 203.571 calc(var(--saturation-factor, 1)*15.909%) 65.49%;
    --role-green: hsl(var(--role-green-hsl)/1);
    --role-green-hsl: 145 calc(var(--saturation-factor, 1)*63.529%) 33.333%;
    --role-grey: hsl(var(--role-grey-hsl)/1);
    --role-grey-hsl: 202.5 calc(var(--saturation-factor, 1)*4%) 60.784%;
    --role-light-blue: hsl(var(--role-light-blue-hsl)/1);
    --role-light-blue-hsl: 203.571 calc(var(--saturation-factor, 1)*15.909%) 65.49%;
    --role-light-green: hsl(var(--role-light-green-hsl)/1);
    --role-light-green-hsl: 145.443 calc(var(--saturation-factor, 1)*63.2%) 49.02%;
    --role-light-grey: hsl(var(--role-light-grey-hsl)/1);
    --role-light-grey-hsl: 183.529 calc(var(--saturation-factor, 1)*8.718%) 61.765%;
    --role-magenta: hsl(var(--role-magenta-hsl)/1);
    --role-magenta-hsl: 339.606 calc(var(--saturation-factor, 1)*82.186%) 51.569%;
    --role-orange: hsl(var(--role-orange-hsl)/1);
    --role-orange-hsl: 28.163 calc(var(--saturation-factor, 1)*79.675%) 51.765%;
    --role-purple: hsl(var(--role-purple-hsl)/1);
    --role-purple-hsl: 282.581 calc(var(--saturation-factor, 1)*38.912%) 53.137%;
    --role-salmon: hsl(var(--role-salmon-hsl)/1);
    --role-salmon-hsl: 5.614 calc(var(--saturation-factor, 1)*78.082%) 57.059%;
    --role-sky-blue: hsl(var(--role-sky-blue-hsl)/1);
    --role-sky-blue-hsl: 204.072 calc(var(--saturation-factor, 1)*69.874%) 53.137%;
    --role-tan: hsl(var(--role-tan-hsl)/1);
    --role-tan-hsl: 36.667 calc(var(--saturation-factor, 1)*86.538%) 40.784%;
    --role-teal: hsl(var(--role-teal-hsl)/1);
    --role-teal-hsl: 168.148 calc(var(--saturation-factor, 1)*75.701%) 41.961%;
    --role-terracotta: hsl(var(--role-terracotta-hsl)/1);
    --role-terracotta-hsl: 5.546 calc(var(--saturation-factor, 1)*63.636%) 36.667%;
    --role-yellow: hsl(var(--role-yellow-hsl)/1);
    --role-yellow-hsl: 48.053 calc(var(--saturation-factor, 1)*88.976%) 50.196%;
    --samsung: hsl(var(--samsung-hsl)/1);
    --samsung-hsl: 231 calc(var(--saturation-factor, 1)*77.778%) 35.294%;
    --skype: hsl(var(--skype-hsl)/1);
    --skype-hsl: 196.186 calc(var(--saturation-factor, 1)*100%) 42.157%;
    --spotify: hsl(var(--spotify-hsl)/1);
    --spotify-hsl: 141.154 calc(var(--saturation-factor, 1)*72.897%) 41.961%;
    --steam: hsl(var(--steam-hsl)/1);
    --steam-hsl: 214.615 calc(var(--saturation-factor, 1)*35.135%) 14.51%;
    --transparent: hsl(var(--transparent-hsl)/0);
    --transparent-hsl: 0 calc(var(--saturation-factor, 1)*0%) 0%;
    --twitch: hsl(var(--twitch-hsl)/1);
    --twitch-hsl: 264.13 calc(var(--saturation-factor, 1)*100%) 63.922%;
    --twitch-secondary: hsl(var(--twitch-secondary-hsl)/1);
    --twitch-secondary-hsl: 263.936 calc(var(--saturation-factor, 1)*80.342%) 54.118%;
    --twitter: hsl(var(--twitter-hsl)/1);
    --twitter-hsl: 202.817 calc(var(--saturation-factor, 1)*89.121%) 53.137%;
    --xbox: hsl(var(--xbox-hsl)/1);
    --xbox-hsl: 120 calc(var(--saturation-factor, 1)*77.143%) 27.451%;
    --youtube: hsl(var(--youtube-hsl)/1);
    --youtube-hsl: 0.351 calc(var(--saturation-factor, 1)*72.766%) 46.078%
	--activity-card-background:;
	--autocomplete-bg:;
	--background-floating:;
	--background-mentioned:;
	--background-mentioned-hover:;
	--background-message-highlight:;
	--background-message-highlight-hover:;
	--background-message-hover:;
	--background-primary:;
	--background-secondary:;
	--background-tertiary:;
	--bg-base-primary:;
	--bg-base-secondary:;
	--bg-base-tertiary:;
	--bg-mod-faint:;
	--bg-mod-strong:;
	--bg-mod-subtle:;
	--border-faint:;
	--border-strong:;
	--border-subtle:;
	--card-primary-bg:;
	--channel-icon:;
	--channels-default:;
	--header-muted:;
	--header-primary:;
	--header-secondary:;
}