/*
ooooooooo.              .o88o.                             oooo                        .o8  
`888   `Y88.            888 `"                             `888                       "888  
 888   .d88'  .ooooo.  o888oo  oooo d8b  .ooooo.   .oooo.o  888 .oo.    .ooooo.   .oooo888  
 888ooo88P'  d88' `88b  888    `888""8P d88' `88b d88(  "8  888P"Y88b  d88' `88b d88' `888  
 888`88b.    888ooo888  888     888     888ooo888 `"Y88b.   888   888  888ooo888 888   888  
 888  `88b.  888    .o  888     888     888    .o o.  )88b  888   888  888    .o 888   888  
o888o  o888o `Y8bod8P' o888o   d888b    `Y8bod8P' 8""888P' o888o o888o `Y8bod8P' `Y8bod88P"

Refreshed v0.3.1 - Readable
By: OogaBoogaBrain 
*/

/* Refreshed Vars */
:root {
	--Refreshed-Accent-color:hsl(var(--Refreshed-Accent-hue), var(--Refreshed-Accent-saturation), var(--Refreshed-Accent-lightness));
	--Refreshed-Accent-color2:hsl(calc(var(--Refreshed-Accent-hue) + 10), calc(var(--Refreshed-Accent-saturation) / 2), calc(var(--Refreshed-Accent-lightness) /2));
	--Refreshed-Transparent-bg:rgba(64,64,64,0.1);
	--Refreshed-Accent-faint:color-mix(in oklab, var(--Refreshed-Accent-color) 20%, transparent);
	--Refreshed-Linear-gradient:linear-gradient(300deg, var(--Refreshed-Accent-color), transparent);
	--Refreshed-Linear-gradient-dim:linear-gradient(300deg, color-mix(in oklab, var(--Refreshed-Accent-color) 66%, transparent), transparent);
	--Refreshed-Radial-gradient:radial-gradient(circle, transparent 33%, var(--Refreshed-Accent-color) 60%, var(--Refreshed-Accent-color) 65%, var(--bg-base-tertiary) 75%);
}

/* Default Vars */
:root{
	--bg-brand:var(--Refreshed-Accent-color)!important;
	--blurple-50:var(--Refreshed-Accent-color)!important;
	--brand-500:var(--Refreshed-Accent-color)!important;
	--brand-560:color-mix(in oklab, var(--Refreshed-Accent-color) 80%, black)!important;
	--opacity-blurple-16:var(--Refreshed-Accent-faint)!important;
	--blurple-41:var(--Refreshed-Accent-color)!important;
	--background-modifier-hover:var(--Refreshed-Accent-faint)!important;
	--border-subtle:var(--Refreshed-Accent-faint)!important;
	--background-modifier-accent:var(--Refreshed-Accent-faint)!important;
	--app-border-frame:var(--Refreshed-Accent-faint)!important;
	--border-faint:var(--Refreshed-Accent-faint)!important;
	--background-code:#1f202f!important;
	--text-brand:var(--Refreshed-Accent-color)!important;
}

/* Channel List */
#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > div.sidebarList_c48ade.sidebarListRounded_c48ade > nav {
	padding:0px;
}
.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c {
	margin:0px;
}
.content__99f8c {
	height:10000px!important;
}

/* Read All button */
.vc-ranb-button.button__201d5.lookFilled__201d5.sizeMin__201d5.grow__201d5 {
	padding-left:6px;
	padding-right:6px;
	width:90%;
	margin:auto;
}

/* User Panel */
.panels_c48ade {
	background:var(--Refreshed-Transparent-bg)!important;
	backdrop-filter:var(--Refreshed-Blur-value);
}

/* User Panel > Screen Share */
.panel__5dec7.activityPanel_c48ade {
	background:transparent;
}

/* User Panel > Spotify Player */
#vc-spotify-player {
	background:transparent!important;
}

/* In Call > Users Speaking Halo */
.border__2f4f7.speaking__2f4f7, .border_f910d0.speaking_f910d0 {
	box-shadow:var(--Refreshed-Accent-color) 0px 0px 0px 6px inset!important;
	filter:blur(3px);
}
.avatarSpeaking__07f91 {
	box-shadow:var(--Refreshed-Accent-color) 0px 0px 0px 2px inset!important;
}

/* In Call > Disconnect Button */
.staticButton_f1ceac.centerButton_f1ceac.colorable_f1ceac.experimentButton_f1ceac.colorable_f1ceac.disconnect_f1ceac.fullRegionButton_f1ceac.button__201d5.lookBlank__201d5.colorBrand__201d5:hover {
	border:2px solid rgb(214, 54, 63);
	padding:8px;
}

/* Window > Buttons */
.winButton_c38106:hover {
	border-radius:9px;
}

/* New Unreads Button */
.bar__7aaec {
	background:var(--Refreshed-Transparent-bg)!important;
	backdrop-filter:var(--Refreshed-Blur-value);
}

/* Server Selected / Unread Message */
.item__58105, .unread__2ea32.unreadImportant__2ea32 {
	background:var(--Refreshed-Linear-gradient)!important;
}

/* Default Server Icon Background */
.childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
	background-image:var(--Refreshed-Radial-gradient)!important;
}

/* Selected Message */
.message__5126c:hover, .message__5126c.selected__5126c {
	background:var(--Refreshed-Linear-gradient)!important;
}

/* Default Channel Icon */
.emptyChannelIcon__00de6.emptyChannelIconComponent__00de6 {
	background:var(--Refreshed-Linear-gradient)!important;
}

/* Server Folder Icon */
div.folderIconWrapper__48112 > div > svg > path {
	fill: color-mix(in oklab, var(--Refreshed-Accent-color) 70%, transparent);
}

/* User Panel BG */
:where(.outer_c0bea0) {
    background:var(--Refreshed-Transparent-bg)!important;
	backdrop-filter:var(--Refreshed-Blur-value);
}
.inner_c0bea0.biteSize_c0bea0 {
	background:transparent!important;
}

/* Friends Page > Border Color */
.visual-refresh .container__9293f {
    border-bottom: 1px solid var(--Refreshed-Accent-faint)!important;
}

/* In Call > Name Tag */
.experimentOverlayTitle__2f4f7 {
	backdrop-filter:var(--Refreshed-Blur-value);
	background-color:var(--Refreshed-Transparent-bg);
}

/* Sidebar > Selected Channel */
.modeSelected__2ea32 .link__2ea32,.modeSelected__2ea32:hover .link__2ea32 {
	background: var(--Refreshed-Linear-gradient-dim);
}

/* In Call > Call Container */
.visual-refresh .callContainer_cb9592 {
	border-top: 1px solid var(--Refreshed-Accent-faint)!important;
}

/* DM List > Selected */
.interactive_bf202d.interactive__972a0.interactiveSelected__972a0.selected_bf202d {
	background: var(--Refreshed-Linear-gradient-dim);
}

/* Opened Event Background */
.layer_bc663c {
	backdrop-filter:blur(2px);
}

/* Aligned Chat Box and Typing indicator - by ragnar.es */
.container_c48ade {
  --custom-chat-input-margin-bottom: 22px;
}
:root {
  --custom-channel-textarea-text-area-height: 42px;
}
.visual-refresh .base_b88801 {
  font-size: 13.5px;
  height: 22px;
  display: flex !important;
  align-items: center !important;
}

/* Message > Timestamp */
time[id^="message-timestamp-"] {
	color:rgba(255,255,255,33%)!important;
}

/* Chats > Background */
.visual-refresh .chatContent_f75fb0 {
    background: radial-gradient(circle, transparent 65%, var(--bg-base-tertiary) 75%), var(--Refreshed-Linear-gradient-dim)!important;
}

/* Server Title / Icon */
.title__85643 {
	filter: drop-shadow(0px 0px 6px var(--Refreshed-Accent-color));
}

/* Transparent Folders Left (edited) - by can.i.pet.ur.cat */
.folderPreview__48112 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    height: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
    width: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
    align-items: center;
    justify-content: center;
}
.expandedFolderIconWrapper__48112 > svg:has(>path[d="M2 5a3 3 0 0 1 3-3h3.93a2 2 0 0 1 1.66.9L12 5h7a3 3 0 0 1 3 3v11a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Z"]) {
    scale: 10;
}
.expandedFolderIconWrapper__48112::after,
.folderPreview__48112::after {
    content: "";
    background: var(--Refreshed-Linear-gradient), color-mix(in oklab, var(--Refreshed-Accent-color) 35%, transparent);
    width: 24px;
    height: 24px;
    position: absolute;
    clip-path: path("M2 5a3 3 0 0 1 3-3h3.93a2 2 0 0 1 1.66.9L12 5h7a3 3 0 0 1 3 3v11a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Z");
}
.folderPreview__48112 > .folderPreviewGuildIcon__48112 {
    opacity: .5;
    filter: blur(2px);
}
.theme-dark .hiddenVisually__27f77[aria-expanded="false"] {
    background-color: black;
}
.theme-light .hiddenVisually__27f77[aria-expanded="false"] {
    background-color: #747474;
}

/* Message Bubble on Hover - by refract0r */
.wrapper__2ea32 .link__2ea32 {
    transition: margin-left 0.2s ease;
}
.wrapper__2ea32:hover .link__2ea32 {
    margin-left: 10px;
}
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: 0.2s ease;
}
.wrapper__2ea32:hover .unread__2ea32 {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: 3px;
    background-color: transparent;
    background-size: 12px;
    background-position: center;
}

/* Watch Stream > Button */
div.content__2f4f7.streamPreview__2f4f7 > button {
    background-color:var(--Refreshed-Transparent-bg);
    backdrop-filter:var(--Refreshed-Blur-value);
}

/* Empty Voice Chat Background Light Effect */
.foregroundBase__11664 {
	background:var(--Refreshed-Accent-color);
}
.foregroundRing__11664 {
	border:15px solid var(--Refreshed-Accent-color);
}
.backgroundLight__11664 {
	background:var(--Refreshed-Accent-color);
}
.backgroundDark__11664 {
	background:var(--Refreshed-Accent-color2);
}

/* Remove Button */
:where(.visual-refresh).theme-dark .lookLink__201d5.colorLink__201d5,
:where(.visual-refresh).theme-dark .lookLink__201d5.colorPrimary__201d5 {
	color:#AAA5;
}
:where(.visual-refresh).theme-dark .lookLink__201d5.colorLink__201d5:hover,
:where(.visual-refresh).theme-dark .lookLink__201d5.colorPrimary__201d5:hover {
	color:var(--Refreshed-Accent-color);
}
:where(.visual-refresh).theme-dark .lookLink__201d5.colorPrimary__201d5:hover .contents__201d5 {
	--button--underline-color:var(--Refreshed-Accent-color);
}

/* Settings > Toggle Switches */
.container__87bf1.checked__87bf1 {
	background-color:var(--Refreshed-Accent-color)!important;
}
div.labelRow__0d850 > div > div.container__87bf1.checked__87bf1 > svg > svg *,
div.vc-addon-header > div > div.container__87bf1.default-colors.checked__87bf1 > svg > svg * {
	fill:var(--Refreshed-Accent-color2);
}

/* Shadow Status > User Icon */
div > [class*="layout_"],
ul > li > [class*="interactive_"] {
    border-radius: 12px;
    margin: 0.3px;
}
.wrapper__44b0c.avatar__0a06e {padding: 4px;}
.wrapper__44b0c:has([mask*="online"], [fill="#43a25a"]){
	filter: drop-shadow(0px 0px 3px #43a25a)drop-shadow(0px 0px 1px var(--bg-base-tertiary));
}
.wrapper__44b0c:has([mask*="dnd"], [fill="#d83a42"]) {
	filter: drop-shadow(0px 0px 3px #d83a42)drop-shadow(0px 0px 1px var(--bg-base-tertiary));
}
.wrapper__44b0c:has([mask*="idle"], [fill="#ca9654"]) {
	filter: drop-shadow(0px 0px 3px #ca9654)drop-shadow(0px 0px 1px var(--bg-base-tertiary));
}
.wrapper__44b0c:has([mask*="streaming"], [fill="#9147ff"]) {
	filter: drop-shadow(0px 0px 3px #9147ff)drop-shadow(0px 0px 1px var(--bg-base-tertiary));
}

/* Vencord > Member Count Online Glow */
.vc-membercount-widget.vc-membercount-member-list > div:nth-child(1) {
	filter: drop-shadow(0px 0px 3px #43a25a)drop-shadow(0px 0px 1px var(--bg-base-tertiary));
}

/* Activity > Popout */
.popout_af3b89 {
	border: 1px solid var(--Refreshed-Accent-faint);
	border-radius: 12px;
	box-shadow:0px 0px 16px rgba(0,0,0,0.2);
	backdrop-filter:var(--Refreshed-Blur-value);
}
.popoutContentWrapper_af3b89,
.interactionsContainer_af3b89 {
	background:var(--Refreshed-Transparent-bg);
}

/* Friends > Active Now > Popout */
.menu_c1e9c4.flexible_c1e9c4 {
	border-color:var(--Refreshed-Accent-faint);
	background:var(--Refreshed-Transparent-bg);
	backdrop-filter:var(--Refreshed-Blur-value);
}

/* New Message Divider */
.visual-refresh .content__908e2 {
	color:white;
	border:1px solid var(--divider-color);
	background:transparent;
	backdrop-filter:var(--Refreshed-Blur-value);
}

/* Server Separator / Add Server Button / Discover Button */
.guildSeparator__252b6,
.circleIconButton__5bc7e {
	/* background:radial-gradient(circle,var(--Refreshed-Accent-faint) 33%, var(--bg-base-tertiary))!important; */
	background:var(--Refreshed-Linear-gradient-dim), var(--Refreshed-Accent-faint)!important;
}

/* User Pannel Border */
.panels_c48ade {
	border-color:var(--Refreshed-Accent-faint)!important;
}