/*
ooooooooo.              .o88o.                             oooo                        .o8  
`888   `Y88.            888 `"                             `888                       "888  
 888   .d88'  .ooooo.  o888oo  oooo d8b  .ooooo.   .oooo.o  888 .oo.    .ooooo.   .oooo888  
 888ooo88P'  d88' `88b  888    `888""8P d88' `88b d88(  "8  888P"Y88b  d88' `88b d88' `888  
 888`88b.    888ooo888  888     888     888ooo888 `"Y88b.   888   888  888ooo888 888   888  
 888  `88b.  888    .o  888     888     888    .o o.  )88b  888   888  888    .o 888   888  
o888o  o888o `Y8bod8P' o888o   d888b    `Y8bod8P' 8""888P' o888o o888o `Y8bod8P' `Y8bod88P"

Refreshed v0.2.4 - Readable
By: OogaBoogaBrain 
*/

/* Refreshed Vars */
:root {
	--Refreshed-Accent-color:hsl(var(--Refreshed-Accent-hue), var(--Refreshed-Accent-saturation), var(--Refreshed-Accent-lightness));
	/* --Refreshed-Accent-color2:hsl(calc(var(--Refreshed-Accent-hue) + 45), var(--Refreshed-Accent-saturation), var(--Refreshed-Accent-lightness)); */
	--Refreshed-Transparent-bg:rgba(128,128,128,0.1);
	--Refreshed-Accent-faint:color-mix(in oklab, var(--Refreshed-Accent-color) 20%, transparent);
	--Refreshed-Linear-gradient:linear-gradient(300deg, var(--Refreshed-Accent-color), rgba(255,255,255,0.0));
	--Refreshed-Linear-gradient-dim:linear-gradient(300deg, color-mix(in oklab, var(--Refreshed-Accent-color) 66%, transparent), rgba(255,255,255,0.0));
	--Refreshed-Radial-gradient:radial-gradient(circle, transparent 33%, var(--Refreshed-Accent-color) 60%, var(--Refreshed-Accent-color) 65%, var(--bg-base-tertiary) 75%);
}

/* Default Vars */
:root{
	--bg-brand:var(--Refreshed-Accent-color)!important;
	--brand-500:var(--Refreshed-Accent-color)!important;
	--brand-560:color-mix(in oklab, var(--Refreshed-Accent-color) 80%, black)!important;
	--opacity-blurple-16:var(--Refreshed-Accent-faint)!important;
	--blurple-41:var(--Refreshed-Accent-color)!important;
	--background-modifier-hover:var(--Refreshed-Accent-faint)!important;
	--border-subtle:var(--Refreshed-Accent-faint)!important;
	--background-modifier-accent:var(--Refreshed-Accent-faint)!important;
	--app-border-frame:var(--Refreshed-Accent-faint)!important;
	--border-faint:var(--Refreshed-Accent-faint)!important;
	--background-code:#1f202f!important;
}

/* Channel List */
#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > div.sidebarList_c48ade.sidebarListRounded_c48ade > nav {
	padding:0px;
}
.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c {
	margin:0px;
}
.content__99f8c {
	height:10000px!important;
}

/* Read All button */
.vc-ranb-button.button__201d5.lookFilled__201d5.sizeMin__201d5.grow__201d5 {
	padding-left:6px;
	padding-right:6px;
	width:90%;
	margin:auto;
}

/* User Panel */
.panels_c48ade {
	background:var(--Refreshed-Transparent-bg)!important;
	backdrop-filter:var(--Refreshed-Blur-value)!important;
}

/* User Panel > Screen Share */
.panel__5dec7.activityPanel_c48ade {
	background:transparent;
}

/* User Panel > Spotify Player */
#vc-spotify-player {
	background:transparent!important;
}

/* In Call > Users Speaking Halo */
.border__2f4f7.speaking__2f4f7, .border_f910d0.speaking_f910d0 {
	box-shadow:var(--Refreshed-Accent-color) 0px 0px 0px 6px inset!important;
	filter:blur(3px);
}
.avatarSpeaking__07f91 {
	box-shadow:var(--Refreshed-Accent-color) 0px 0px 0px 2px inset!important;
}

/* In Call > Disconnect Button */
.staticButton_f1ceac.centerButton_f1ceac.colorable_f1ceac.experimentButton_f1ceac.colorable_f1ceac.disconnect_f1ceac.fullRegionButton_f1ceac.button__201d5.lookBlank__201d5.colorBrand__201d5:hover {
	border:2px solid rgb(214, 54, 63);
	padding:8px;
}

/* Window > Buttons */
.winButton_c38106:hover {
	border-radius:9px;
}

/* New Unreads Button */
.bar__7aaec {
	background:var(--Refreshed-Transparent-bg)!important;
	backdrop-filter:var(--Refreshed-Blur-value)!important;
}

/* Server Selected / Unread Message */
.item__58105, .unread__2ea32.unreadImportant__2ea32 {
	background:var(--Refreshed-Linear-gradient)!important;
}

/* Default Server Icon Background */
.childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
	background-image:var(--Refreshed-Radial-gradient)!important;
}

/* Selected Message */
.message__5126c:hover, .message__5126c.selected__5126c {
	background:var(--Refreshed-Linear-gradient)!important;
}

/* Default Channel Icon */
.emptyChannelIcon__00de6.emptyChannelIconComponent__00de6 {
	background:var(--Refreshed-Linear-gradient)!important;
}

/* Server Folder Icon */
div.folderIcon__48112 > div > svg > foreignObject > div > div > div > svg {
	color:var(--Refreshed-Accent-color)!important;
}

/* User Panel BG */
:where(.outer_c0bea0) {
    background:var(--Refreshed-Transparent-bg)!important;
	backdrop-filter:var(--Refreshed-Blur-value)!important;
}
.inner_c0bea0.biteSize_c0bea0 {
	background:transparent!important;
}

/* Friends Page > Border Color */
.visual-refresh .container__9293f {
    border-bottom: 1px solid var(--Refreshed-Accent-faint)!important;
}

/* In Call > Name Tag */
.experimentOverlayTitle__2f4f7 {
	backdrop-filter:var(--Refreshed-Blur-value)!important;
	background-color:var(--Refreshed-Transparent-bg);
}

/* Sidebar > Selected Channel */
.modeSelected__2ea32 .link__2ea32,.modeSelected__2ea32:hover .link__2ea32 {
	background: var(--Refreshed-Linear-gradient-dim);
}

/* In Call > Call Container */
.visual-refresh .callContainer_cb9592 {
	border-top: 1px solid var(--Refreshed-Accent-faint)!important;
}

/* DM List > Selected */
.interactive_bf202d.interactive__972a0.interactiveSelected__972a0.selected_bf202d {
	background: var(--Refreshed-Linear-gradient-dim);
}

/* Opened Event Background */
.layer_bc663c {
	backdrop-filter:blur(2px);
}

/* Aligned Chat Box and Typing indicator - by ragnar.es */
.container_c48ade {
  --custom-chat-input-margin-bottom: 22px;
}
:root {
  --custom-channel-textarea-text-area-height: 42px;
}
.visual-refresh .base_b88801 {
  font-size: 13.5px;
  height: 22px;
  display: flex !important;
  align-items: center !important;
}

/* Message > Timestamp */
time[id^="message-timestamp-"] {
	color:rgba(255,255,255,33%)!important;
}

/* Chats > Background */
.visual-refresh .chatContent_f75fb0 {
    background: radial-gradient(circle, transparent 65%, var(--bg-base-tertiary) 75%), var(--Refreshed-Linear-gradient-dim)!important;
}

/* Server Title / Icon */
.title__85643 {
	filter: drop-shadow(0px 0px 6px var(--Refreshed-Accent-color));
}