/**
 * @name Refreshed
 * @description Theme for the new Discord version.
 * @author OogaBoogaBrain
 * @authorId 615359270367526912
 * @version 0.0.1
 */

/* Color overrides */
.visual-refresh,
.theme-dark,
.theme-darker,
.theme-midnight,
.visual-refresh.theme-dark,
.visual-refresh.theme-darker,
.visual-refresh.theme-midnight,
.visual-refresh .theme-dark,
.visual-refresh .theme-darker,
.visual-refresh .theme-midnight {
	--activity-card-background:;
	--autocomplete-bg:;
	--background-floating:;
	--background-mentioned:;
	--background-mentioned-hover:;
	--background-message-highlight:;
	--background-message-highlight-hover:;
	--background-message-hover:;
	--background-primary:;
	--background-secondary:;
	--background-tertiary:;
	--bg-base-primary:;
	--bg-base-secondary:;
	--bg-base-tertiary:;
	--bg-mod-faint:;
	--bg-mod-strong:;
	--bg-mod-subtle:;
	--border-faint:;
	--border-strong:;
	--border-subtle:;
	--card-primary-bg:;
	--channel-icon:;
	--channels-default:;
	--header-muted:;
	--header-primary:;
	--header-secondary:;
	
}

/* Channel List */
#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > div.sidebarList_c48ade.sidebarListRounded_c48ade > nav {
	padding:0;
}

/* User Panel */
#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > section {
	background-color:rgba(128,128,128,0.1);
	backdrop-filter:blur(10px);
}